.about-container {
    display: grid;
    gap: 2em 5em;
    max-width: 960px;
    max-width: 100%;
    margin: 0 auto;
    grid-template-columns: 250px auto;
    grid-template-rows: auto auto auto;
}

.about-container h1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.about-container p {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.about-container .about-div p {
    text-align: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    align-items: center;
    text-align: justify;
}

.about-div {
    margin-bottom: 50px;
}

.about-container picture img {
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
    animation: move 2s;
    grid-column: 1 / 2;
    grid-row: 2/3;
}

.about-highlight {
    font-size: 20px;
    color: $color2;
    font-weight: bold;
    font-style: italic;
    margin-left: 1em;
    padding-left: 1em;
    margin-right: 1em;
    padding-right: 1em;
    line-height: 34px;
}

.big {
    font-size: 38px;
}

.projects {
    color: $color4;
}

.projects:hover {
    color: $color2;
}

.link-here {
    font-size: 24px;
    color: $color4;
}

.link-here:hover {
    color: $color2;
}

@keyframes move {
    25% {transform: translateY(-10px);}
}

.about-container picture {
    margin: 0 auto;
}

@media (max-width: 667px) {
    .about-container {
        display: grid;
        gap: 2em 2em;
        max-width: 960px;
        margin: 0 auto;
        grid-template-columns: auto;
        grid-template-rows: repeat(12, auto);
    }

    .about-container h1 {
        grid-column: span 1;
    }

    .about-container picture {
        margin-bottom: 3rem;
    }
}
