.education-container {
    max-width: 960px;
    max-width: 100%;
    margin: 0 auto;
}

.education-container picture img {
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
}

.frame-filmag-light {
    display: none;
}

.frame-filmag {
    background-color: $color3;
}

.frame-pic {
    width: 95%;
}

.frame-img {
    grid-column: 2/3;
    grid-row: 2/4;
    align-items: center;
    border-radius: 3px;
    // width: 400px;
    margin-left: 2em;
    border: 1px solid $color2;
}

.frame {
    border: 10px ridge $color3;
    padding: 30px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    background-color: $color3;
    max-width: 64em;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.frame h2 {
    grid-column: 1/3;
    grid-row: 1/2;
    // color: $color1; /////
    color: $color4;
}

.frame p {
    padding-right: 1rem;
}

.frame div {
    grid-column: 1/2;
    grid-row: 2/3;
}

.exwork {
    grid-column: 1/3;
    grid-row: 3/4;
    margin-top: 40px;
    padding: 15px;
    color: $white;
    background-color: $color5;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    padding-left: 2em;
    padding-right: 2em;
}

.exwork:hover {
    color: $color4;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.3);
}

.frame-webprogramming-light {
    display: none;
}

.frame-webprogramming {
    display: flex;
    flex-direction: row;
    padding-left: 80px;
}

.frame-webprogramming-courses {
    padding: 60px;
    padding-right: 0;
    padding-left: 30px;
    width: auto;
    line-height: 1.5em;
    text-align: left;
    // border: 1px solid blue;
}

.frame-webprogramming-courses h2 {
    line-height: 1.5em;
    text-align: left;
}

.frame-webprogramming-courses li {
    line-height: 1.5em;
    text-align: left;
}

.more {
    margin-left: 1em;
    transform: rotate(-15deg);
    font-size: 42px;
    font-family: 'Kalam', cursive;
    display: flex;
    padding-top: 3em;
    color: $color2;
    // border: 1px solid green;
}

.arrow {
    width: 75px;
    margin-left: 1rem;
    box-shadow: none !important;
    filter: none !important;
}

.frame-misc-courses-light {
    display: none;
}

.frame-misc-courses h2 {
    color: $color4;
}

.frame-misc-courses {
    color: $white;
    background-color: $color3;
    height: auto;
    padding: 2em 2em 2em 1.25em;
    margin: 0 auto;
    margin-bottom: 2em;
    width: 90%;
    display: flex;
    flex-direction: row;
    border: 5px ridge $color3;
    padding-top: 2em;
}

.misc-c-pic {
    height: 60%;
    width: 50%;
    justify-content: center;
}

.misc-c {
    width: 50%;
    padding-left: 2em;
}

@media (max-width: 1085px) {
    .frame-webprogramming {
        position: relative;
    }

    .more {
        flex-direction: column;
    }

    .more-text {
        margin-bottom: 1rem;
    }

    .arrow {
        margin-left: 2.5rem;
        margin-right: 2rem;
    }

    .frame-misc-courses {
        flex-direction: column;
        position: relative;
    }
    
    .misc-c-pic {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 2rem;

    }
    
    .misc-c {
        width: 100%;
    }

    .misc-c h2 {
        text-align: center;
    }
}

@media (max-width: 850px) {
    .more {
        margin-right: 2rem;
    }
}

@media (max-width: 667px) {
    .frame {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        position: relative;
    }

    .frame h2 {
        align-content: center;
        text-align: center;
    }

    .frame p {
        text-align: left;
    }

    .frame-pic {
        width: 100%;
        margin: 0 auto;
    }

    .frame-img {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 4rem;
    }

    .frame div {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    .exwork {
        text-align: left;
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .frame-webprogramming {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    
    .frame-webprogramming-courses {
        padding: 1.5rem;
        width: 100%;
        margin: 0;
        text-align: left;
    }
    
    .frame-webprogramming-courses h2 {
        text-align: center;
    }

    .frame-webprogramming-courses > p {
        text-align: left !important;
    }

    .more {
        margin-left: 4em;
        // padding-top: 1rem;
        margin-top: -8rem;
        margin-bottom: 5rem;
    }

    .arrow {
        margin-right: 2rem;
        margin-left: 2rem;
    }

    .misc-c-pic {
        width: 100%;
    }

    .misc-c li {
        text-align: left;
    }

}


@media (max-width: 450px) {
    .more {
        margin-left: 3rem;
    }

    .frame-pic {
        width: 100%;
        margin: 0 auto;
    }
}
