.home-container {
    display: none;
}

.home-container-bottom-light {
    display: none;
}

.merits {
    display: none;
}

.welcome-title-top {
    display: none;
}

.home-container-dark {
    max-width: 960px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.home-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.p-container-home {
    margin-left: 7em;
    margin-right: 1em;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.p-container-home p:first-child {
    margin-bottom: 2rem;
}

.p-container-home p {
    margin-bottom: 3rem;
}

@keyframes move {
    25% {transform: translateY(-10px);}
}

.pic-container-home {
    margin-bottom: 2em;
    border-radius: 1px;
    margin-left: 1rem;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
}

.pic-container-home > img {
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
}

.merits-dark {
    max-width: 960px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
    height: 150px;
    width: 100%;
    background: radial-gradient($color2, $color3);
    position: relative;
}

.merits-div-dark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    font-size: 24px;

}

.merits-id-dark {
    text-align: center;
    align-items: center;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    font-weight: normal;
}

.from-dark {
    text-align: center;
    font-size: 16px;
    // margin-top: 25px;
    // margin-top: 5px;
    font-family: 'Amatic SC', cursive;
    font-weight: normal;
}

.home-container-bottom {
    margin: 0 auto;
    padding: 0;
    padding-top: 7px;
    margin: 0;
    width: 100%;
}

.home-container-bottom-dark {
    display: flex;
    flex-direction: column;
}

.home-programming-div {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    position: relative;
    margin-bottom: 5rem;
    margin-top: 6rem;
}

.home-programming-text {
    width: 39%;
    margin-right: 7rem;
    display: flex;
    flex-direction: column;
}

.home-programming-pic {
    width: 37%;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 2px;
    border: 0.25rem solid $color2;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
    margin-right: 1rem;
}

.home-programming-pic img {
    height: 100%;
    width: 100%;
}

.home-prog-pic-bottom {
    height: 35%;
    position: relative;
    display: flex;
    flex-direction: row;
    border-top: 0.25rem solid $color2;
}

.home-programming-pic-a {
    width: 100%;
    height: 65%;
    border-bottom: 0 solid $color2;
}

.home-programming-pic-b {
    width: 33.3%;
    height: 100%;
    border-left: 0.25rem solid $color2;
    border-radius: 5px;
}

.home-programming-pic-c {
    width: 33.3%;
    height: 100%;
    border-radius: 5px;
}

.home-programming-pic-d {
    width: 33.3%;
    height: 100%;
    border-right: 0.25rem solid $color2;
    border-radius: 5px;
}

.education-title-top-dark {
    display: none;
}

.collage-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 14rem;
    margin-top: 2rem;
    margin-left: 2rem;
    padding-top: 7rem;
}

.collage-p-top-dark {
    display: none;
}

.collage-p {
    margin-right: 3rem;
}

.collage-pics {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: row;
    padding-bottom: 10rem;
    padding-top: 2rem;
    padding-left: 1rem;
}

.collage-pic {
    transform: rotate(10deg);
    width: 55%;
    position: absolute;
    border-radius: 3px;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
}

.collage-div .pic-a {
    left: 0;
    top: 0;
}

.collage-div .pic-b {
    left: 3rem;
    top: 2rem;
}

.collage-div .pic-c {
    left: 6rem;
    top: 0;
}

.collage-div .pic-d {
    left: 9rem;
    top: 1rem;
}

.collage-div-p {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 6.5rem;
}

.collage-p-border {
    border: 1px solid $color3;
    border-radius: 50px;
    width: 25%;
    text-align: center;
    color: $white;
}

.collage-p-border:hover {
    color: $white;
}


@media (max-width: 667px) {
    .welcome-title-top {
        display: inline;
    }

    .welcome-title {
        display: none;
    }

    .home-container-dark h3 {
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .home-div {
        flex-direction: column;
        position: relative;
        margin: 0 auto;
        margin-top: 2rem;
        padding: 0;
        width: 100%;
    }
    
    .pic-container-home {
        width: 60%;
        margin: 0 auto;
        position: relative;
        margin-bottom: 4rem;
        margin-top: 3rem;
    }

    .home-div img {
        margin: 0 auto;
    }

    .p-container-home {
        width: 100%;
        margin: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 3rem;
        margin-top: 1rem;
    }

    .collage-p-border {
        align-self: center;
    }

    .merits-dark {
        height: 280px;
    }

    .merits-id-dark {
        text-align: center;
    }

    .education-title-top-dark {
        display: inline;
        text-align: center;
        margin-top: 3rem;
    }

    .education-title-dark {
        display: none;
    }

    .home-programming-div {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        margin: 0;
        margin-top: 1rem;
        padding: 0;
    }

    .home-programming-text {
        width: 100%;
        margin: 0 auto;
    }

    .home-programming-pic {
        width: 50%;
    }

    .home-programming-div p {
        text-align: center;
        margin-bottom: 3rem;
        margin-top: 3rem;
    }

    .collage-div {
        flex-direction: column;
        width: 100%;
        margin: 0;
        margin-bottom: 2rem;
    }

    .collage-pics {
        width: 50%;
        margin: 0 auto;
    }
    
    .collage-div p {
        width: 100%;
        text-align: center;
        margin-top: 3rem;
    }
    
    .collage-div-p {
        padding: 0;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 3rem;
    }

    .collage-div-p h3 {
        margin: 0 auto;
        display: none;
    }

    .collage-p {
        // margin-bottom: 3rem;
        display: none;
    }

    .collage-p-top-dark {
        display: inline;
        margin: 0 auto;
        margin-bottom: 3rem;
    }
}

@media (max-width: 500px) {
    .pic-container-home {
        width: 100%;
    }

    .collage-pics {
        margin: 0;
        margin-left: 3rem;
    }
}

@media (max-width: 400px) {
    .collage-pics {
        margin: 0;
        margin-left: 3.5rem;
    }
}
