.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}

.header {
    flex-direction: column;
}

.nav {
    margin-top: -3.3rem; ////
    position: relative;
    // width: 100%;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 1em 0;
    list-style: none;
    // width: 100%;
}

.nav ul li {
    padding: 0 1em;
}

.nav a {
    color: $nav-a-color;
    padding: 0.5rem;
    color: $color1;//////////////
}

.nav a:hover {
    display: inline-block;
    transform: translateY(-5px);
    transition-duration: 0.3s;
    color: $color5;//////////////
}

.nav-toggle {
    color: $color2;
    display: none;
}

@media (max-width: 767px) {
    .header {
        flex-direction: column;
    }

    .nav {
        margin: 0; ////
    }

    .nav ul {
        flex-direction: column;
        padding-bottom: 1em;
        color: $color2;
    }

    .nav ul li {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .nav ul li a {
        display: block;
        padding: 0.5em 0;
    }


    .js .nav-toggle {
        display: block;
        float: right;
        width: 2em;
        margin: 0.6667em 0;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
    }
}
