$color1: #422422; //66 36 34
$color4: #423736;
$color3: #cca9a7;
$color5: #8f4d4a; // 143, 77, 74
$color2: #c16865; // 193, 104, 101
// Mono

$white: rgba(255, 255, 255, 0.815);
$black: #333;

$background-color: $white;

$title-h1-color: $color2;
$title-p-color: $color4;
$title-color: $color5;

$font-color: $black;
$h2-color: $color5;

$nav-a-color: $color1;
$nav-a-hover-color: $color2;

$a-color: $color5;
$a-hover-color: $color2;

$code-background: #d3d3d3;
$code-border: #d3d3d3;

$analysis-box-color: $color1;
$analysis-box-text-color: $white;
$analysis-box-hover-color: $color4;
$analysis-h1-text: $color5;
$analysis-h2-text: $color5;
$analysis-h3-text: $color5;

$analysis-gradient-1: #422422;
$analysis-gradient-2: #423736;

$color-sidebar-h2: $color2;
$color-sidebar-a: $color2;
$color-sidebar-a-hover: $black;

$course-box-color: $color1;
$course-box-text-color: $white;
$course-box-hover-color: $color4;

$analysis-border: #d3d3d3;

$footer-background-color: $color4;
$footer-color: $white;
$footer-hover-color: $color2;

$main-font-size: 1em;
$main-line-height: 1.5;
$magic-number: $main-font-size * $main-line-height;
