{% extends "baseProj.html.twig" %}

{% block title %} Project {% endblock %}

{% block content %}


<p>Projektet går ut på att visualisera vädret för tre svenska städer under de senaste 20 åren för att se om några slutsatser kan dras om städernas klimat beroende på hur långt norrut de befinner sig samt om klimatförändringar märks av. De aspekter som undersöks är årsmedeltemperatur, total nederbörd, antal nederbördsdagar samt antal frost- och högsommardagar.
</p>

<h2>Dokumentation</h2>
Nedan finns en del dokumentation angående projektet.

<ul class = "list list_left">
    <li><a href="http://www.student.bth.se/~asho20/dbwebb-kurser/mvc/me/report/docs/api/"> Länk till dokumentationen som är genererad via phpdoc. </a></li>
    <li><a href=" http://www.student.bth.se/~asho20/dbwebb-kurser/mvc/me/report/docs/metrics/"> Länk till rapporten från phpmetrics. </a></li>
    <li><a href="https://github.com/Asa-Hog/BTH-mvc"> Länk till mitt GitHub repo. </a></li>
    <li><a href="https://scrutinizer-ci.com/g/Asa-Hog/BTH-mvc/"> Länk till Scrutinizer för mitt repo. </a></li>
    <li><a href=" {{ path("cleancodeProj") }}" > Artikel om snygg kod. </a></li>
</ul>

<h2>ORM</h2>
<p> Jag har tabellerna weather samt city i min databas. Weather innehåller väderdata för de olika städerna och city innehåller data över städerna. Tabellerna har en relation i och med att främmande nyckeln cityId i weathertabellen är primärnyckel i citytabellen. Det logiska ER-diagrammet över databasen visas nedan.</p>

<img class="my-chart-50" src = "../img/ER-diagram.png">

<h2>Summering</h2>
Din about-sida skall innehålla en summering där du berättar om projektets kodkvalitet. </br>

Berätta vilka eventuella åtgärder du gjort för att kvalitetssäkra projektet och hur du jobbat med kodkvaliteten och vilka verktyg du använt.</br>

Har du fokuserat på några speciella saker, verktyg eller metrics, så kan du berätta om dem.</br>



<p>När det gäller kodkvalitet så har jag använt verktygen phpMetrics lokalt samt Scrutinizer som är kopplat till GitHub-repot för att se hur projektet ligger till kvalitetsmässigt. Jag har även använt phpunit för att enhetstesta koden.</p>

<p>Från Scrutinizer fick jag några issues om kod som inte användes, så det kunde jag rätta till.
Jag har även flyttat ut mycket av koden från kontrollern till en modellklass i stället för att kontrollern "tunn".</p>








<h2>Återställ</h2>
Tryck på nedanstående knapp om du vill logga ut samt återställa databasen till sitt ursprungliga läge.

<p><a class = "button" href="{{ path("resetProj") }}"> Återställ</a></p>
{% endblock %}