{% extends "baseProj.html.twig" %}

{% block title %} Project {% endblock %}

{% block content %}

<h1>Om projektet</h1>


<p>Projektet går ut på att visualisera vädret för tre svenska städer under de senaste 20 åren för att se om några slutsatser kan dras om städernas klimat beroende på hur långt norrut de befinner sig samt om klimatförändringar märks av.
</p>

<h2>Dokumentation</h2>
Nedan finns en del dokumentation angående mitt projekt.

<ul class = "list list_left">
    <li><a href=" "> Länk till dokumentationen som är genererad via phpdoc. </a></li>
    <li><a href=" "> Länk till rapporten från phpmetrics. </a></li>
    <li><a href="https://github.com/Asa-Hog/BTH-mvc"> Länk till ditt GitHub repo. </a></li>
    <li><a href=" "> Länk till Scrutinizer för ditt repo. </a></li>
    <li><a href=" {{ path("cleancodeProj") }}" > Artikel om snygg kod. </a></li>
</ul>


<h2>Summering</h2>
Din about-sida skall innehålla en summering där du berättar om projektets kodkvalitet. </br>

Berätta vilka eventuella åtgärder du gjort för att kvalitetssäkra projektet och hur du jobbat med kodkvaliteten och vilka verktyg du använt.</br>

Har du fokuserat på några speciella saker, verktyg eller metrics, så kan du berätta om dem.</br>

<h2>Återställ</h2>
Tryck på nedanstående knapp om du vill logga ut samt återställa databasen till sitt ursprungliga läge.

<p><a class = "button" href="{{ path("resetProj") }}"> Återställ</a></p>
{% endblock %}