{% extends "baseProj.html.twig" %}

{% block title %} Project {% endblock %}

{% block content %}

<h1>Snygg kod</h1>

För att visa dina goda förmågor i att relatera till konceptet “Snygg och god kod” så presenterar du din egen syn på detta i en artikel.

<p>Du kan inleda så här:
“Finns det verkligen ett begrepp som är ‘Snygg och god kod’? Kan en programmerare uppfatta kod som ‘snygg’ och vad innebär det och hur producerar man ‘snygg kod’?”
Använd och relatera till de begrepp, verktyg och mätvärden som kursen hanterat.
Visa gärna något exempel.
Du behöver inte ha ett komplett svar på frågan, det räcker om du diskuterar kring frågan och kopplar det till saker vi gjort i kursen.
Avsluta med din egen personliga syn.
</p>

<p>Du skriver din artikel på routen proj/cleancode och länkar till den från din about-sida.
Din artikel bör vara omfångsmässigt som en extra stor redovisningstext. Vi pratar alltså om cirka 30-60 meningar text, cirka 3.500-5000 ord, 1-2 A4-sidor.</p>





{% endblock %}