body {
    font-family: sans-serif;
    line-height: 1.4rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    position: relative;
}

 h1 {
  /* color: purple; */
  /* text-decoration: underline;
  border-bottom: 1px solid #000;
  padding-bottom: 30px; */
        font-family: 'Kotta One', serif;
        /* font-family: 'Courgette', serif; */

}

h2 {
  /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
  font-family: 'Kotta One', serif;
  /* font-family: 'Courgette', serif; */

}

.container {
    position: relative;
    min-height: 100vh;
  }
  
  .page-content {
    padding-bottom: 7rem;    /* Footer height */
  }

  .hr {
    width: 50%;
    margin-left: 0;
    background-color: purple;
    border: 1px dotted purple;
    /* height: 2px; */
    /* border-style: dotted; */
  }

  .sitetitle {
    /* text-align: center; 
     text-shadow: 1px 1px green; 
     text-shadow: 1px 1px orange;  */
    /* border: 1px solid red; */
    /* font-family: cursive; */
    /* color: #CF4ABD; */
    color: #8A0778;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
.proj-title {
  /* color: darkblue; */
  /* font-family: cursive; */
  /* font-family: 'Akaya Telivigala', cursive; */
  line-height: 3rem;
font-family: 'Courgette', serif;
  font-size: 40px;
  font-weight: 100;

  color: #CF4ABD;


;

}
/* #D12EBB */
/* #475933 */
/* #8A0778 mörk lila*/
/* #011669 mörkblå*/ 
/* #CF4ABD */

  .sitefooter {
    /* color: green; */
    /* font-weight: bold; */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;            /* Footer height */
    background-color: #D12EBB;
    background-color: #8A0778;


    /* padding-left: 10px;  Blir fel*/
    padding: 10px;
    /* background: rgb(27,50,77);
    background: radial-gradient(circle, rgba(27,50,77,1) 0%, rgba(133,173,223,1) 84%, rgba(133,173,223,1) 100%); */
    /* background:#1B324D; */
    /* background: rgb(133,173,223); */
    /* background: linear-gradient(90deg, rgba(133,173,223,1) 0%, rgba(133,173,223,1) 32%, rgba(27,50,77,1) 71%); */
    text-align: right;
  }

  .footer-text {
    padding-right: 30px;
  }

.siteheader {
    /* background-color: lightpink; */
    padding: 10px;
    /* color:green; */
    /* color: #1B324D; */
    /* justify-content: right; */
    /* color: white; */
}

/* .siteheader > h1 {
  color:green;

} */

.header {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family:Arial, Helvetica, sans-serif;
  /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  font-size: larger;
  /* align-items: center; */
  /* justify-content: right; */
  min-height: 150px;
  /* background-color: #85ADDF; */

}

/* nav { */
  /* background: green; */
  /* background: linear-gradient(90deg, rgba(133,173,223,1) 0%, rgba(133,173,223,1) 32%, rgba(27,50,77,1) 71%); */
/* } */

nav li {
  padding: 15px;
  font-weight: 600;
  text-decoration: none;
  font-size:medium;
  /* background-color:#1B324D;
  background-color:#85ADDF; */

}

nav a { 
  text-decoration: none;
  /* font-family: 'Courgette', serif; */
  font-size: 16px;
  color: #011669;
} 

/* .navbar  {
  background-color:#1B324D;
  /* background-color:#85ADDF; */
/* } */ 


ul li a{
  /* color:white; */
  /* color:gold; */
  text-align: right;
}

/* ul li a:hover{ */
  /* color:orange; */
  /* color:gold; */
/* } */

ul {
  display: flex;
  flex-direction: row;
  justify-content: right;
  font-weight: bold;
  margin-bottom: 20px;
  list-style-type: none;
}


.full {
    width: 100%;
    margin-bottom: 25px;
}

.home-container {
  display: flex;
}

.right {
  margin: 20px;
  padding: 20px;
  min-height: 100px;
}

.button {
  background-color: #011669; 
  /* background-color: #475933;  */

  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:5px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 40px;
}

.button:hover {
  background-color:#CF4ABD;
  color: #1B324D;
}

.green {
  background-color: #475933;
}

label {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 350px;
}

input {
  padding: 3px 6px;
  min-width: 250px;
}




.center {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

}

.list {
  display: flex;
  flex-direction: column;
  color: black;
  list-style:disc;
  font-weight: 400;
}

/* figure {
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  text-align: center;
}

img {
  height: 100%;
  vertical-align: bottom;
}

.pics {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.wide-pic {
  width: 400px;
} */


table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #011669; 
  color: white;
}