body {
    overflow-y: scroll;     /* Always display scrollbar, no hopping pages */
    font-family: sans-serif;
    line-height: 1.8rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    position: relative;
    font-size: 22px;
    padding: 20px;
    color: black;
    margin: 8px auto;
    max-width: 1800px;
    /* font-stretch: expanded; */
}

h1, h2 {
    font-family: 'Kotta One', serif;
}

.container {
    position: relative;
    min-height: 100vh;
}

.page-content {
    padding-bottom: 7rem;    /* Footer height */
}

.sitetitle {
    text-align: center; 
    color: #f2f2f2;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}

.proj-title {
    line-height: 5rem;
    font-family: 'Courgette', serif;
    font-size: 60px;
    font-weight: 100;
    text-align: center; 
    border: 4px dotted #f2f2f2;;
    margin: 30px;
    padding: 5px;
    min-height: 150px;
    color: #f2f2f2;
}

.title-div {
    padding-bottom: 15px;
}


.siteheader {
    padding: 10px;
    line-height: 1.4rem;
    color: #012D01;
}

.header {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family:Arial, Helvetica, sans-serif;
    font-size: larger;
    min-height: 250px;
    background-color: #012D01;
    background-image: url("../img/proj/leaves-pix.jpg");
    /* background-repeat: no-repeat; */

}

  .sitefooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;            /* Footer height */
    /* padding: 10px; */
    /* text-align: right; */
    color: #f2f2f2;
    text-align: center;
    /* border: 3px solid green; */
    background-color: #012D01;
    /* background-image: url("../img/proj/woolly-pix.jpg"); */
  }

.sitefooter>img {
    width: 100%;
    margin: 0 auto;
    /* justify-self: center; */
    max-height: 110px;
    object-fit: cover;
    z-index: -1;
    top: 0;
    left: -10px;
    filter: blur(1px);
    /* border: 2px dashed red; */
}

.footer-text {
    padding-top: 50px;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    z-index: 1;
    color: #f2f2f2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



a {
  text-decoration: none;
  justify-content: center;
  font-weight: 400;
  font-size: 22px;
}


nav {
  align-self: center; 
  align-items: center;
}

nav li {
    padding: 15px;
    font-weight: 600;
    text-decoration: none;
    font-size:medium;
}

nav a { 
    text-decoration: none;
    justify-content: center;
    font-weight: 400;
    color: #d3d3d3;
    text-align: center;
    justify-content: center;

} 

ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    font-weight: bold;
    margin-bottom: 20px;
    list-style-type: none;
    text-align: center;
    justify-content: center;
    font-size: 9px;
}

.data {
    background-color: #012D01;
    min-height: 200px;
    color: #d3d3d3;
    font-weight: 200;
    margin: 0;
    padding: 10px;
}

.weather {
    width: 100%;
    margin: 0 auto;
    justify-self: center;
    max-height: 300px;
    object-fit: cover;
}
.clouds {
    max-height: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: center;
}

.rain {
  min-height: 400px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.snow {
  min-height: 300px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.chart {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.my-chart {
  align-items: center;
  display: inline-block;
  width: 25%;
}

.my-chart-40 {
  align-items: center;
  display: inline-block;
  width: 40%;
}

.my-chart-50 {
  align-items: center;
  display: inline-block;
  width: 60%;
}


.full {
    width: 100%;
    margin-bottom: 25px;
}

.home-container {
  display: flex;
}

.right {
  margin: 20px;
  padding: 20px;
  min-height: 100px;
}

.button {
  background-color:#012D01;
  border: none;
  color: #f2f2f2;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius:5px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 40px;
  font-size: 22px;
  font-weight: 300;
}

.button:hover {
  background-color: #2D012D; 
}

.loginbutton {
  background-color: #2D012D; 
}

.loginbutton:hover {
  background-color:#012D01;
}

label {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* min-width: 500px; */
  /* border: 2px solid red; */
}

input {
  padding: 6px 12px;
  font-size: 22px;
  min-width: 250px;

}

.center {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  color: black;
  list-style:disc;
  font-weight: 400;
}

.list_left {
  justify-content: left; 
  text-align: left;
  text-decoration: none;
  font-size: 22px;
}


table {
  border-collapse: collapse;
  width: 100%;
  font-size: 22px;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #2D012D; 
  color: #f2f2f2;
  font-weight: 300;
}