
body {
    font-family: sans-serif;
    line-height: 1.4rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

.container {
    position: relative;
    min-height: 100vh;
  }
  
  .page-content {
    padding-bottom: 3rem;    /* Footer height */
  }
  
  .sitefooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;            /* Footer height */
    background-color: lightgray;
    /* padding-left: 10px;  Blir fel*/
  }



.siteheader {
    background-color: cornflowerblue;
    padding: 10px;
    color:aliceblue;
}

ul {
    margin-bottom: 20px;
    list-style-type: none;
}


.full {
    width: 50%;
    /* margin: 0 auto; */
}




