
body {
    font-family: sans-serif;
    line-height: 1.4rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    position: relative;
}

 h1, h2, h3 {
  color: #1B324D;

}

.container {
    position: relative;
    min-height: 100vh;

  }
  
  .page-content {
    padding-bottom: 7rem;    /* Footer height */

  }

  .sitetitle {
    text-align: center;
    text-shadow: 1px 1px #1B324D;
    /* text-shadow: 1px 1px orange; */
    /* border: 1px solid red; */
  }

  .sitefooter {

    color: #1B324D;
    /* font-weight: bold; */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;            /* Footer height */
    background-color: #85ADDF;
    /* padding-left: 10px;  Blir fel*/
    padding: 10px;
    /* background: rgb(27,50,77);
    background: radial-gradient(circle, rgba(27,50,77,1) 0%, rgba(133,173,223,1) 84%, rgba(133,173,223,1) 100%); */
    /* background:#1B324D; */
    background: rgb(133,173,223);
    /* background: linear-gradient(90deg, rgba(133,173,223,1) 0%, rgba(133,173,223,1) 32%, rgba(27,50,77,1) 71%); */
  }

.siteheader {
    /* background-color: #1B324D; */
    padding: 10px;
    color:#85ADDF;
    /* color: #1B324D; */
    justify-content: center;
    /* color: white; */
}

.siteheader > h1 {
  color:#85ADDF;

}

.header {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family:Arial, Helvetica, sans-serif;
  /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  font-size: larger;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  /* background-color: #85ADDF; */

}

nav {
  background: rgb(133,173,223);
  background: linear-gradient(90deg, rgba(133,173,223,1) 0%, rgba(133,173,223,1) 32%, rgba(27,50,77,1) 71%);
}

nav li {
  padding: 15px;
  font-weight: 600;
  text-decoration: none;
  font-size:medium;
  /* background-color:#1B324D;
  background-color:#85ADDF; */

}

nav a {
  text-decoration: none;
}

.navbar  {
  background-color:#1B324D;
  /* background-color:#85ADDF; */
}


ul li a{
  color:white;
  /* color:gold; */
}

ul li a:hover{
  color:orange;
  /* color:gold; */
}

ul {
  /* padding: 5px; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: bold;
    /* background-color: #1B324D;
    color: white;
    background: rgb(133,173,223);
    background: linear-gradient(90deg, rgba(133,173,223,1) 0%, rgba(133,173,223,1) 32%, rgba(27,50,77,1) 71%); */
}


ul {
    margin-bottom: 20px;
    list-style-type: none;
    color: white;
}

.full {
    width: 100%;
    margin-bottom: 25px;
}

.playfield {
  margin: 25px;
  background-color: darkgreen;
  padding: 100px;
  border-radius: 200px;
  height: 500px;
}

.playfield > a {
  color: beige;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background: rgb(102,7,48);
  filter: drop-shadow(2px 2px 2px #1B324D);
}

.home-container {
  display: flex;
}

.me-pic {
  /* border-radius: 200px; */
  margin: 20px;
  padding: 0;
  transform: skew(-5deg, 0deg);
  /* transform: rotate(20); */
  box-shadow: 5px;
  filter: drop-shadow(10px 10px 4px gray);
  
}

.right {
  /* float:right; */
  margin: 20px;
  padding: 20px;
  min-height: 100px;
}

.button {
  background-color: #1B324D; 
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:5px;
  margin-bottom: 10px;
}


label {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 350px;
}




input {
  padding: 3px 6px;
  min-width: 250px;
}



.red {
  background: rgb(102,7,48);
  filter: drop-shadow(2px 2px 2px #1B324D);
}

.button:hover {
  background-color:#85ADDF;
  color: #1B324D;
}


table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #85ADDF;
  color: white;
}

.center {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* border: 1px solid red; */
  align-items: center;

}








.drawn {
  margin-top: 15px;
  display: flex;
  flex-direction: row;

}
.deck {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}

.cards {
  display: flex;
  flex-direction: row;
  /* border: 1px solid green; */
  height: 100px;
  margin-bottom: 5px;

}

.card {
  background-color: beige;
  border: 1px solid black;
  border-radius: 2px;
  width: 50px;
  height: 90px;
  margin-bottom: 2px;
  padding: 5px;
  margin-right: 2px;
}

.♥ {
  color: red;
}

.♦ {
  color: red;
}

.☘ {
  color: black;
}

.list {
  display: flex;
  flex-direction: column;
  color: black;
  list-style:disc;
  font-weight: 400;
}

.metrics-pic {
  width: 300px;
  /* border: 1px solid blue; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figure {


  /* border: 1px solid red; */
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  text-align: center;
}

img {
  height: 100%;
  vertical-align: bottom;
}

.pics {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.wide-pic {
  width: 400px;
}