{% extends 'base.html.twig' %}

{% block title %}Show all books{% endblock %}

{% block content %} 

<h1>Show all books</h1>


{# {% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %} #}






{% endblock %}