{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block content %} 
<h1>About</h1>
{# <p>Run the <a href = "{{ path("lucky-number") }}"> lucky number lottery</a>.</p> #}
{# Your lucky number is {{ number }}. #}

<p>The course <i>Object oriented web technologies</i>, or <i>mvc</i>, fokuses on object oriented programming techniques in PHP, and frameworks based on PHP. Technologies used are web server (Apache), PHP, HTML, CSS and SQL.</p>

<p>The GitHub repo for the course can be found <a href="https://github.com/dbwebb-se/mvc">here</a>.</p>

<img class = "full" src = "{{ asset("img/php.jpg") }}" width = "200px" alt = "PHP elephant representing the course">


{% endblock %}