{% extends "base.html.twig" %}

{% block title %} Home {% endblock %}

{% block content %}


<h1>Home</h1>

<p>I'm Åsa Höglund and this is my me page for the course <a href = "https://dbwebb.se/kurser/mvc-v2/">Object oriented web technologies</a> at BTH.</p>

<img src = "{{ asset("img/me.jpg") }}" width = "200px" alt = "Åsa Höglund">
{# <p><a href = "{{ absolute_url("img/me.jpg") }}">Larger image</a></p> #}
{% endblock %}