{% extends "baseProj.html.twig" %}

{% block title %} Project {% endblock %}

{% block content %}
{# <hr class="hr"> #}

<h2 class = "proj-title">Visualisering av indikatorer för hållbarhet</h2>


Som slutprojekt i denna kurs har jag valt att göra en visualisering av indikatorer för hållbarhet.




{% endblock %}
