{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}



{% block content %} 

<h1>User</h1>

<h3>Manage users</h3>

<a href = "{{ path("user_create") }}">Create user</a></br>
<a href = "{{ path("user_show_all") }}">Show all users</a></br>


{% endblock %}