{% extends 'base.html.twig' %}

{% block title %}Create user{% endblock %}

{% block content %} 

<h1>User details</h1>

<div class = "center">
    <img src = "{{ asset("img/"~user.getImage()) }}" width = "250px"  alt = "User image">


    <h2>{{user.getTitle()}}</h2>
    <p>Author: {{user.getAuthor()}}</h3><br>
    <br>
    <h3>ISBN: {{user.getIsbn()}}</h3>
</div>

{% endblock %} 




