Kmom01 - Ramverk
-------------------------

Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.

Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?

Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?

Med tanke på artikeln “PHP The Right Way”, vilka delar i den finner du extra intressanta och värdefulla? Är det några särskilda områden som du känner att du vill veta mer om? Lyft fram några delar av artikeln som du känner mer värdefulla.

Vilken är din TIL för detta kmom?


{# <p><b>Bold text</b></p> #}
{# ![Åsa Höglund](img/me.jpg) #}